// Reset & Base styles

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-primary;
    line-height: 1.6;
    color: $color-text-primary;
    background-color: $color-white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 0.6;
    }
}

img {
    max-width: 100%;
    display: block;
}
