<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Marketing CMS{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    <script src="{{ asset('js/mobile-menu.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
