{% extends 'base.html.twig' %}

{% block title %}
    {% if page is defined and page %}
        {{ page.seoTitle ?? page.title }} - Marketing CMS
    {% else %}
        Marketing CMS
    {% endif %}
{% endblock %}

{% block body %}
    {{ include('components/header.html.twig') }}

    <main>
        {% block content %}{% endblock %}
    </main>

    {{ include('components/footer.html.twig') }}
{% endblock %}
